### classi Java
*.class

### Apple
.DS_store

### Sublime Text
*.sublime-project
*.sublime-workspace

### LaTeX
*.log
*.aux
*.out
*.toc
*.lot
*.lof
*.glo
*.ist
*.synctex.gz

# elenco personalizzato design pattern
*.pat

### PDF
*.pdf
